.score {
    font-size: medium;
}

.container {
    max-width: 750px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.chat-panel {
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

.url-box {
    margin: 75px 10px 0px;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(118, 118, 120, 1);
}

#url {
    width: 500px;
    margin: 0 auto;
}

.header {
    height: 40px;
    margin: 0;
    font-size: 20px;
}

.result-header {
    font-size: 50px;
}

.your-message {
    background-color: #67b168;
    float: right;
}

.opp-message {
    background-color: #46b8da;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.message-style {
    border-radius: 4px;
    padding: 5px;
    max-width: 95%;
    display: inline-block;
    overflow: visible;
}

.media {
    margin-top: 10px;
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 500px;
}

body {
    display: table;
}

.play-box {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.r {
    position: absolute;
}

.p {
    position: absolute;
    left: 33.333%;
}

.s {
    position: absolute;
    left: 66.666%;
}

.icon-animate {
    transition: left .5s;
}

/* Стили для окна поверх страницы */
.window {
    font-size: 5em;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    z-index: 10000;
}

.cover {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}